html,body {
    margin: 0;
    height: 100%;
    overflow: hidden;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.card {
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 20%;
  height: 80%;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  background-color: #4dd0e1;
  margin: 5% 10% 60% 40%;
  border-radius: 5px;
  text-align: center;
  font-family: arial;
  overflow: hidden;
}

.location {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  font-size: 2em;
  font-weight: 700;
  padding-top: 15px;
}

.date {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  font-size: 1em;
  font-weight: 300;
  text-transform: uppercase;
}

.weatherIcon {
  padding: 5px;
  position: relative;
  height: 200px;
  margin: 10% auto 7%;
  width: 200px;
}
.temp {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  font-size: 3em;
  line-height: 1.3;
}

.conditions {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  text-transform: uppercase;
}
@media screen and(max-width:600px) {
  .card {
    min-width: 20%;
    min-height: 70%;
  }
}
